@(images : List[ImageModel], title : String, issueId : Long)
                    <div class="box-header well" data-original-title>
                        <h2><i class="icon-th"></i> 图片列表 - @title</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                            <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <div id="images-container" class="box-content">
                      <p class="center">
                    <div class="control-group">
                    <label class="checkbox inline">
                                    <input id="selectAllImages" type="checkbox" id="selectall" value="selectall"> 全选
                                  </label>
                            <button id="deleteImages" type="submit" class="btn btn-primary">删除</button>
                                <div class="controls">
                                @if(issueId == null){
								<div id="issue-selector"></div>
								  <button id="importImages" type="submit" class="btn btn-primary">导入专辑</button>
								  }else{
								  <button id="sortImages" type="submit" class="btn btn-primary" data-issue="@issueId">保存图片顺序</button>
								  <input id="fileupload" type="file" name="files[]" data-url="@routes.Images.uploadImages(issueId)" multiple>
								  <!-- The global progress bar -->
								    <div id="progress" class="progress progress-success progress-striped">
								        <div class="bar"></div>
								    </div>
								  }
								</div>
                              </div>
                        </p>
                        <br/>
                        <ul id="sortable" class="thumbnails gallery"  style="position: relative;padding: 0 0 0 40px;">
                         @views.html.source.imageli(images)
                                                    </ul>
                    </div>
