@(user : User)
<div class="row-fluid">
				<div class="span6 well">
					<div>
						<h3>Welcome, </h3><BR>
						<p>Any idea is appreciated, pleas send it to E-mail:<a href="mailto:vncntkarl2@@gmail.com?subject=Daily Hot Beauty">vncntkarl2@@gmail.com</a></p>
					</div>
				</div><!--/span-->
				<div class="span6 well">
					<div>
						<h3>Quick Help, </h3><BR>
						<p>If you found all images of the post are corrupt with the same image, you can install a plug-in of the browser to change the referral.</p>
					</div>
				</div><!--/span-->
			</div><!--/row-->
